:root {
    --white: #fff;
    --primary_clr: #282938;
    --pera_clr: rgba(40, 41, 57, 0.7);
    --bg_clr: #1C1E53;
    --section__bg: #F4F6FC;
}

/* =================================
          Common Code Start
===================================== */


body {
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: .8;
}


.container {
    width: 1280px;
    margin: 0 auto;
}


.commonbtn {}


.paragraph {
    color: var(--pera_clr);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.section__heading {
    color: var(--primary_clr);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}

.sub__heading {
    color: var(--primary_clr);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    /* 150% */
}

/* =================================
          Common Code End
===================================== */


/* =================================
          Navbar Start Here
===================================== */
#navbar {
    padding: 16px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav__menu {
    display: flex;
    align-items: center;
    column-gap: 48px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.nav__link {
    color: #BBBBCB;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    transition: all linear .3s;
}

.nav__link:hover {
    color: var(--white);
}

.nav__btn a {
    color: var(--white);
    padding: 16px 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    transition: all linear .3s;
}

.nav__btn a:hover {
    color: #1B1C2B;
    background: #FCD980;
}

/* =================================
          Navbar End Here
===================================== */

/* =================================
          Banner Start Here
===================================== */
#banner {
    background-color: var(--bg_clr);
    padding: 218px 0 128px;
}

.banner__wrapper {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.banner__content {
    width: 582px;
}

.banner__content h1 {
    color: var(--white);
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px;
}

.paragraph--alter {
    color: var(--white);
    width: 562px;
    font-weight: 500px;
    padding: 24px 0 48px;
}

.banner__btn {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.banner__btn a {
    padding: 16px 56px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    color: var(--white);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    transition: all linear .3s;
}

.banner__btn i {
    margin-left: 16px;
}

.banner__btn a:hover {
    color: #1B1C2B;
    background: #FCD980;
}

.banner__btn a:nth-child(2) {
    border: none;
    padding: 0;
}

.banner__btn a:nth-child(2):hover {
    background-color: transparent;
    color: var(--white);
}

.branner__img {
    width: 638px;
}

/* =================================
          Banner End Here
===================================== */

/* =================================
          Work Start Here
===================================== */
#work {
    background-color: var(--section__bg);
    padding: 128px 0;
}

.work__wrapper {
    display: flex;
    column-gap: 142px;
}

.work__content {
    width: 405px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.work__content a {
    color: #2405F2;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 177.778% */
}

.work__content i {
    margin-left: 10px;
}

.work__main {
    width: 656px;
    margin-left: 77px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.work__item {
    widows: 328px;
}

.work__item h3 {
    color: var(--primary_clr);
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    /* 150% */
    padding: 16px 0 8px;
}

.work__item .paragraph {
    width: 303px;
}


/* =================================
          Work End Here
===================================== */

/* =================================
          Projects Start Here
===================================== */
#projects {
    padding: 128px 0;
}

.projects__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 64px;
}

.projects__heading a {
    color: #282938;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.projects__heading i {
    vertical-align: middle;
    margin-left: 16px;
}

.projects__wrapper {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.projects__big {
    width: 843px;
    height: 600px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

}

.projects__big img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__big__overlay {
    width: 396px;
    height: 100%;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    padding: 312px 0 76px 48px;
    z-index: 99;
    position: absolute;
    top: 0;
    left: -396px;
    transition: all ease-in-out .4s;
}

.projects__big:hover .projects__big__overlay {
    left: 0;
}

.sub__heading--tweak {
    color: var(--white);
    font-weight: 600;
}

.paragraph--overlay {
    color: var(--white);
    width: 293px;
    padding: 16px 0 40px;
}

.projects__big__overlay a {
    color: #FCD980;
}

.projects__big__overlay i {
    vertical-align: middle;
    margin-left: 16px;
}

.projects__small {
    width: 405px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}



.projects__small__item {
    width: 100%;
    height: 284px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.projects__small__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__small__overlay {
    padding: 129px 36px 45px 56px;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all linear .3s;
}

.projects__small__overlay h3 {
    width: 290px;
    padding-bottom: 10px;
}

.projects__small__overlay a {
    color: #FCD980;
}

.projects__small__overlay i {
    vertical-align: middle;
    margin-left: 16px;
}

.projects__small__item:hover .projects__small__overlay {
    opacity: 1;
}


/* =================================
          Projects End Here
===================================== */



/* =================================
          Navbar Start Here
===================================== */
/* =================================
          Navbar End Here
===================================== */
/* =================================
          Navbar Start Here
===================================== */
/* =================================
          Navbar End Here
===================================== */
/* =================================
          Navbar Start Here
===================================== */
/* =================================
          Navbar End Here
===================================== */
/* =================================
          Navbar Start Here
===================================== */
/* =================================
          Navbar End Here
===================================== */
/* =================================
          Navbar Start Here
===================================== */
/* =================================
          Navbar End Here
===================================== */
/* =================================
          Navbar Start Here
===================================== */
/* =================================
          Navbar End Here
===================================== */